
<div id="mobile_main">


<!-- ヘッダー -->

<div class="header" border="0">
<img src="/assets/h1-cea46b62f462865bbeec5a08fcbe67d8.jpg" alt="" title="" width="100%">
</div>



<div id="main_contents"> 
    <div style="margin-top:10px;"></div>
 

<div style="margin-bottom:15px;"></div>
    
<div class="qbunsho"><p>食べるのはどちらかといえば早いほうだ</p>
</div>
    


<div style="margin-bottom:20px;"></div>


<div class="ddd"><table border="0" width="100%">
  <tr>
    <td width="49%"><div class="setumon1"><a href="qw4_3.html">はい</a></div></td>
    <td width="1px"></td>
    <td width="49%"><div class="setumon2"><a href="qw4_4.html">いいえ</a></div></td>
  </tr>
</table>




</div>


<div class="clear"></div>

<div style="margin-bottom:10px;"></div>

<div class="zenkaitype">

<div class="pppsent">50%達成！</div>
<div id="demo"></div>


<div id="jqmeter-container"></div>



<div class="clear"></div>
<div style="margin-bottom:25px;"></div>
</div>
  <div class="topnimodoru"><a href="index">診断ＴＯＰに戻る</a></div>
        
      
        
        



<!-- スマホメニューボタン （サブナビ）ここまで-->
<div style="margin-bottom:10px;"></div>



<div class="clear"></div>
<div style="margin-bottom:30px;"></div>



</div>
<!-- main_contents -->
  
  
  

<!-- フッター部分 -->


  
  <div class="copy">
    COPYRIGHT (C) SHIBAKENTYPE Co.Ltd</div>
<!-- /フッター部分 -->
<!-- main_contents -->

</div><!-- mobile_main -->
</div>



<script>
$(document).ready(function(){
  $("#demo").progressBar({
    percent: 50,
    split: 0,
    width: "100%",
    height: "30px"
  });
});
</script>
 